@font-face {
    font-family: 'DINComp';
    src: url('http://inze.it/fonts/DINComp.eot');
    src: url('http://inze.it/fonts/DINComp.eot?#iefix') format('embedded-opentype'),
         url('http://inze.it/fonts/DINComp.woff') format('woff'),
         url('http://inze.it/fonts/DINComp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DINComp-Bold';
    src: url('http://inze.it/fonts/DINComp-Bold.eot');
    src: url('http://inze.it/fonts/DINComp-Bold.eot?#iefix') format('embedded-opentype'),
         url('http://inze.it/fonts/DINComp-Bold.woff') format('woff'),
         url('http://inze.it/fonts/DINComp-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body, button, input, select, textarea {
	font-family: georgia;
	font-style:italic;
	color: #000;
	margin:0;
	padding:0;
	font-size:12px;
	line-height: 1.231;
	position:relative;
}

/* enable HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

::-moz-selection { background: #000; color: #fff; text-shadow: none; }
::selection { background: #000; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/*pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }*/
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

h1 {
	font-size:50px;
	margin:0 0 0 0;
	line-height:1.4;
	width:360px;
	padding:390px 0 0 0;
	text-align:center;
}
h2 {
	font-size:22px;
	margin:0 0 0 0;
	line-height:30px;
	width:360px;
	padding:50px 0 0 0;
	font-weight:normal;
	text-align:center;
}
h3 {
	font-size:26px;
	margin:0 0 0 0;
	line-height:36px;
	width:460px;
	padding:0 0 20px 0;
	font-weight:normal;
	text-align:center;
}
p {
	width:460px;
	line-height:22px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	margin:0 0 22px 0;
}

/* CLIENTS */
#clients {
	background-color:#fff;
	position:relative;
	padding-bottom:200px;
}
#clients h1.cn {
	font-size:76px;
	text-align:center;
	padding:170px 0 90px;
	width:100%;
	color: #AA5533;
	/*border-bottom:1px solid rgba(0,0,0,0.1);*/
	position: relative;
	z-index:10;
	font-family: 'Marck Script', cursive;
}
#clients span {
	font-size:60px;
	text-align:left;
	font-family: 'Mr Dafoe', cursive;
}
div.reflist-link {
	display:block;
	height:130px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	margin:0;
	position: relative;
	z-index:10;
	cursor: pointer;
	color:#000;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	text-shadow:none;
}
div.reflist-link div.client-logo {
	display:block;
	width:492px;
	height:104px;
	position:absolute;
	left:50%;
	margin:15px 0 0 -496px;
	z-index:1;
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter:alpha(opacity=0);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	font-family: 'Poller One', cursive;
	font-size: 50px;
	color: white;
}
div.reflist-link span {
	display:block;
	width:980px;
	position:absolute;
	color:inherit;
	left:50%;
	z-index:10;
	font-size:58px;
	font-style:normal;
	margin:30px 0 0 -490px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
div.reflist-bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-position:50% 50%;
	background-attachment:fixed;
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter:alpha(opacity=0);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
div.reflist-active {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-position:50% 50%;
	background-attachment:fixed;
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter:alpha(opacity=0);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
div.reflist-link:hover span {
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter:alpha(opacity=0);
}
div.reflist-link:hover div.reflist-active {
	opacity: 1.0;
	-moz-opacity: 1.0;
	filter:alpha(opacity=10);
}
div.reflist-link:hover div.client-logo {
	opacity: 1.0;
	-moz-opacity: 1.0;
	filter:alpha(opacity=10);
}
#reflist-selected div.reflist-active {
	background-image:url('image/cake-active.jpg');
}#refbg-selected {
	background-image:url('image/cake.jpg');
}
#reflist-gj div.reflist-active {
	background-image:url('image/car-active.jpg');
}#refbg-gj {
	background-image:url('image/car.jpg');
}
#reflist-bestseller div.reflist-active {
	background-image:url('image/beauty-active.jpg');
}#refbg-bestseller {
	background-image:url('image/beauty.jpg');
}
#reflist-joe div.reflist-active {
	background-image:url('image/cinema-active.jpg');
}#refbg-joe {
	background-image:url('image/cinema.jpg');
}
#reflist-neye div.reflist-active {
	background-image:url('image/earphone-active.jpg');
}#refbg-neye {
	background-image:url('image/earphone.jpg');
}
#reflist-outfitters div.reflist-active {
	background-image:url('image/lover-active.jpg');
}#refbg-outfitters {
	background-image:url('image/lover.jpg');
}

#clients h1.wishing {
	text-align: left;
	font-family: 'Tangerine', cursive;
	padding: 0;
	font-size: 90px;
	color: #5533AA;
}
